.foreground {
    position: fixed;
    z-index: 1;
    top: 0px;   /* Distance from the top of the viewport */
    right: 0px; /* Distance from the right of the viewport */
    /* You can adjust the top, bottom, left, or right properties to place the image exactly where you want it */
    width: 100%; /* Optional: set a specific width */
    height: 100%; /* Optional: maintain aspect ratio */
    pointer-events: none;    /* Disables mouse clicks, hover, etc. */
    user-select: none;       /* Disables text selection */
    cursor: default;         /* Ensures the cursor doesn't change on hover */
}

.center {
  margin: 0;
  position: absolute;
  top: 20%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  
  text-align:center;
  font-family: Tahoma, sans-serif;
  color: #FFFFFF;
}

.front {
  position: absolute;
  z-index: 10;
}

body {
  min-height: 200vh;
  background-image: url('https://img.freepik.com/premium-photo/black-brick-wall-loft-interior-design-black-paint-facade_73152-3989.jpg?semt=ais_user_personalization&w=740&q=80');
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(255,255,255,0.5);
}